<p-dialog [(visible)]="mergeDialogDisplayed">
    <p-header>
        Merge {{getForkNum()}} up to {{workflow.getParent()}}
    </p-header>
    TODO: Define merges here
    <p-footer>
        <button (click)="merge(getForkNum(), MergeType.PreOrder)">Pre Order</button>
        <button (click)="merge(getForkNum(), MergeType.PostOrder)">Post Order</button>
        <button (click)="merge(getForkNum(), MergeType.ByAggregate)">By Aggregate</button>
    </p-footer>
</p-dialog>
<hr />
<span>{{getForkNum()}}</span>
<button (click)="undo(getForkNum(), 1)" [disabled]="canUndo(getForkNum())">Undo</button>
<button (click)="redo(getForkNum(), 1)" [disabled]="canRedo(getForkNum())">Redo</button>
<button (click)="fork(getForkNum())">Fork</button>
<button (click)="mergeDialogDisplayed = true" [disabled]="getParentId(getForkNum()) == undefined"> Merge Down</button>
<button (click)="mergeUp(getForkNum())" [disabled]="getChildrenForks().length == 0">Merge Up</button>
<button (click)="optimize(getForkNum())"> optimize</button>
<button (click)="clear(getForkNum())"> clear</button>
<button (click)="addAggregate(getForkNum(), viewState.selectedAggregate[getForkNum()], viewState.selectedEvent[getForkNum()])">Add Aggregate</button>
<select>
  <option *ngFor="let commandTitle of getCommandTitles(getForkNum())" value="{{commandTitle}}">
     {{commandTitle}}
  </option>
</select>
<span>{{getStackLengths(getForkNum()).join(' + ')}}</span>

<fwb-tree [aggregates]="getRootAggregates()" [fork]="getForkNum()">
</fwb-tree>

<div style="margin-left: 10px; border-left: 5px solid deeppink">
    <fwb-workflow *ngFor="let fork of getChildrenForks()" [workflow]="fork">
    </fwb-workflow>
</div>