<p-dialog [(visible)]="mergeDialogDisplayed" *ngIf="getForkNum() !== 0">
    <p-header>
        Merge {{getForkNum()}} up to {{workflow.getParent()}}
    </p-header>
    <!--<div *ngFor="let conflict of getConflicts(getForkNum())">
        <span> {{conflict.getAggregate()}}</span>
        <span> {{conflict.getType()}}</span>
        <span> {{conflict.getFromValue()}}</span>
        <span> {{conflict.getToValue()}}</span>
        <button (click)="resolve(conflict, Resolution.Parent)">take parent</button>
        <button (click)="resolve(conflict, Resolution.Child)">take child</button>
    </div>-->
    <table>
        <tr>
            <th>Aggregate</th>
            <th>Type</th>
            <th>From</th>
            <th>To</th>
            <th>Options</th>
        </tr>
        <tr *ngFor="let conflict of conflicts">
            <td>
                {{conflict.getAggregate()}}
            </td>
            <td>
                {{conflict.getType()}}
            </td>
            <td>
                {{conflict.getFromValue()}}
            </td>
            <td>
                {{conflict.getToValue()}}
            </td>
            <td>
                <button pButton (click)="resolve(conflict, Resolution.Parent)" label="take parent"></button>
                <button pButton (click)="resolve(conflict, Resolution.Child)" label="take child"></button>
            </td>
        </tr>
    </table>
     <p-footer>
        <button pButton (click)="mergeDown(getForkNum()); mergeDialogDisplayed = false" label="merge!"></button>
    </p-footer>
    <!--TODO: Define merges here
    <p-footer>
        <button (click)="merge(getForkNum(), MergeType.PreOrder)">Pre Order</button>
        <button (click)="merge(getForkNum(), MergeType.PostOrder)">Post Order</button>
        <button (click)="merge(getForkNum(), MergeType.ByAggregate)">By Aggregate</button>
    </p-footer>-->
</p-dialog>
<hr />
<span>{{getForkNum()}}</span>
<button pButton (click)="undo(getForkNum(), 1)" [disabled]="canUndo(getForkNum())"label="Undo"></button>
<button pButton (click)="redo(getForkNum(), 1)" [disabled]="canRedo(getForkNum())"label="Redo"></button>
<button pButton (click)="fork(getForkNum())"label="Fork"></button>
<button pButton (click)="attemptMergeDown(getForkNum())" [disabled]="getParentId(getForkNum()) == undefined"label=" Merge Down"></button>
<button pButton (click)="mergeUp(getForkNum())" [disabled]="getChildrenForks().length == 0"label="Merge Up"> </button>
<button pButton (click)="optimize(getForkNum())"label="optimize"></button>
<button pButton (click)="clear(getForkNum())"label="clear"></button>
<p-splitButton icon="fa-add" (onClick)="addRandomAggregate(getForkNum(), viewState.selectedAggregate[getForkNum()], viewState.selectedEvent[getForkNum()])" 
    label="Add Random Aggregate" [model]="availableAggregates">
</p-splitButton>
<p-dropdown [options]="getCommandTitles(getForkNum())" ></p-dropdown>
<!--<select>
  <option *ngFor="let commandTitle of getCommandTitles(getForkNum())" value="{{commandTitle}}">
     {{commandTitle}}
  </option>
</select>-->
<span>{{getStackLengths(getForkNum()).join(' + ')}}</span>

<fwb-tree [aggregates]="getRootAggregates()" [fork]="getForkNum()">
</fwb-tree>

<div style="margin-left: 10px; border-left: 5px solid deeppink">
    <fwb-workflow *ngFor="let fork of getChildrenForks()" [workflow]="fork">
    </fwb-workflow>
</div>